:root {
    --main-bg: #5d2a48;
}

body{
    font-family: JetBrains Mono, monospace;
    color: #f0f0f0;
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**
* Header styles
*/
.main-heading {
    color: #ffb86c;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2.section-heading {
    color: #ffb86c;
    text-align: left;
    margin-bottom: 24px;
    margin-top: 32px;
    font-size: 2.2em;
    font-weight: bold;
    padding: 12px 32px;
    background: linear-gradient(270deg, var(--main-bg) 60%, #ffb86c22 100%);
    border-left: 6px solid #ffb86c;
    border-radius: 0 16px 16px 0;
    box-shadow: 2px 4px 16px #0002;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #0008;
}

/**
* link styles
*/
a {
    color: #67d4ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #71ff6c;
}

.hidden-link {
    color: inherit; /* Override default link color */
    text-decoration: none;
    transition: color 0.3s ease;
}

/*
* List styles
*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: disc;
    margin: 10px 0;
    transition: color 0.8s ease;
}

li:hover {
    list-style: square;
    color: #ffb86c;
}